@page "/"


<p>Hola @UtilidadesString.Enmayuscular(nombre) </p> <!--Expresion implicita-->

<p>Vamos a sumar 2 + 2 @(2  + 2)</p> <!--Expresion explicita-->

<button @onclick="@(() => Console.WriteLine("Me han clickeado"))">Pulsar</button>

<button @onclick="@MensajeConsola">Otro pulsar</button>

<div>
    <h2>Crear nueva pelicula</h2>
    <EjemploTextbox placeholder="Nombre pelicula"/>
</div>

<div>
    <h3>Peliculas</h3>

   <ListadoPeliculas Peliculas="Peliculas" />

    @if(Peliculas == null)
    {
        <p>Cargando...</p>
    }
    else if (Peliculas.Count == 0)
    {
        <text>No hay registros para mostrar</text>
    }
    {        
        @for(var i = 0; i < Peliculas.Count; i++)
        {
            <div>   
           
                <p>Titulo @((MarkupString)Peliculas[i].Titulo) </p>
                <p>Lanzamiento <b>@Peliculas[i].FechaLanzamiento.ToString("dd MM yyyy")</b>
                @if (i == Peliculas.Count - 1)
                {
                    <spam> Esta es la ultima pelicula</spam>
                }    
                </p>
            </div>
        }
    }

    
</div>



@code 
{

    string nombre = "David";

    protected override async Task OnInitializedAsync()
    {
        //await Task.Delay(3000);
        Peliculas = ObtenerPeliculas();
    }

    public Pelicula SpiderMan { get { return ObtenerPelicula(); } }
    public List<Pelicula> Peliculas;

    private Pelicula ObtenerPelicula()
    {
        return new Pelicula()
            { Titulo = "SpiderMan", FechaLanzamiento = new DateTime(2019, 7, 2) };
    }

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>()
        {
           new Pelicula(){ Titulo = "SpiderMan", FechaLanzamiento = new DateTime(2019, 7, 2)},
           new Pelicula(){ Titulo = "SpiderGirl", FechaLanzamiento = new DateTime(2019, 7, 2)},
           new Pelicula(){ Titulo = "SpiderBoy", FechaLanzamiento = new DateTime(2019, 7, 2)},
        };
    }

    private void MensajeConsola()
    {
        Console.WriteLine("Me has hecho click");
    }
}